name: Build Manual

on:
  workflow_dispatch:
  push:
    branches:
      - manual
    paths:
      - "manuals/OCaml_environment_setup.typ"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: manual

      - name: Set up Typst
        uses: typst-community/setup-typst@v4

      - name: Compile Typst document
        run: |
          typst compile manuals/OCaml_environment_setup.typ OCaml_environment_setup.pdf

      - name: Upload PDF to latest release
        run: |
          LATEST_TAG=$(gh release list --limit 1 --json tagName --jq '.[0].tagName')
          echo "Latest release tag: $LATEST_TAG"
          gh release upload "$LATEST_TAG" OCaml_environment_setup.pdf --clobber
        env:
          GH_TOKEN: ${{ secrets.CSE305_ACTION_PAT }}

